*{
    margin: 0px;
    padding: 0px;
}
@media (max-width: 800PX) {
    .display-1  {
      font-size: 30px;
    }
      .card-text  {
        font-size: 5px;
      }
      .card-img {
          height: 250px;
      }
}
.text-reset{
  text-decoration: none;
}